*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-dark: hsl(0,0%,0%);
    --bg: hsl(0,0%,5%);
    --bg-light: hsl(0,0%,10%);

    --text: hsl(0,0%,95%);
    --text-muted: hsl(0,0%,70%);
}

h1 {
    color: var(--text);
}

p {
    color: var(--text-muted);
}

.link{
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: all 0.2s ease; 
}

.link:hover {
    text-decoration: underline;
}

.container{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.square {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 20px;
  padding: 10px;
}

.square img {
    align-items: center;
    max-width: 100%;
    max-height: 50%;
    object-fit: contain; /* keeps aspect ratio nicely */
}


.heroSection{
    min-height: 100vh;
    background-image: url(/Pictures/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: sticky;
    top: 0;
}

.navbar ul{
    list-style-type: none;
    background-color: var(--bg);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: black;
}

.navbar li{
    float: left;
}