*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-dark: hsl(0,0%,0%);
    --bg: hsl(0,0%,5%);
    --bg-light: hsl(0,0%,10%);

    --text: hsl(0,0%,95%);
    --text-muted: hsl(0,0%,70%);
}

body {
  background-color: var(--bg-dark);
}

h1 {
    color: var(--text);
}

p {
    color: var(--text-muted);
}